body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maze{
    width: 40%;
    aspect-ratio: 1;
}

.cell{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: black solid 1px;
}

.buttons{
    margin-top: 20px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.buttons button{
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cadetblue;
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    border: 0;
}
.buttons button{
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cadetblue;
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    border: 0;
}

.buttons button:hover{
    color: cadetblue;
    background-color: aliceblue;
}

